canvas{
    width: 100% !important;
    max-width: 1200px;
    height: auto !important;
    max-height:600px;
}

.chartLegend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.chartLegend li {
    display: inline;
    padding-right: 8px;
}

.bar-legend li {
    list-style: none;
}

.line-legend li {
    list-style: none;   
}

.doughnut-legend li {
    list-style: none;   
}

.align-center {
    text-align: center;
}
